.save-main{

    display: flex;
    flex-direction: column;
}

.save-empty{
    display: flex;
    justify-content: center;
}
.save-empty-comtent{
    padding: 40px;
    background-color: rgba(255, 228, 196, 0.458);
    width: 80%;
    text-align: center;
    color: rgb(235, 146, 29);
    font-size: 20px;
    border: 2px solid;
    border-radius: 10px;
    border-color: rgb(235, 146, 29);;
}