.hero{
  width: 100%;
  min-height: 50vh;
  background:linear-gradient(rgba(8,0,58,0.7),rgba(8,0,58,0.7)), url('../../assets/hero.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;;
  padding-left: 20px;
}

.hero-text{
  max-width: 800px;
  margin-top: 200px;
  margin-left: -60px;  
}

.hero-text h1{
  font-size: 40px;
  font-weight: 600;
}

.hero-text p{
  font-size: 20px;
  max-width: 700px;
  
  line-height: 1.4;
}

