.intro-container{
  display: flex;
  justify-content: space-between;
}
.intro{
  margin-left: 80px;
  line-height: 1.6;
  width: 66.66%; 
  max-width: 800px; 
  justify-content: flex-start !important; 
  align-items: flex-start !important; 
}
/* .company_1 {
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 350px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  margin-right:80px;
  position: relative;
  justify-content: flex-end ; 
  align-items: flex-end ; 
  max-height: 750px;
  top: -70px;
  background:rgb(243, 242, 242);
  
   
} */

.intro h3 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

.intro h4 {
  color: #555;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.intro p {
  color: #666;
  font-size: 16px;
  margin-bottom: 20px;
}

.intro ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 20px;
}

.intro li {
  margin-bottom: 10px;
}

.intro img {
  width: 40px;
  height: 40px;
  margin: 10px 5px;
  cursor: pointer;
  transition: transform 0.3s;
}

.intro img:hover {
  transform: scale(1.1);
}
.btn_1{
  margin-right: 15px; 
}

.share {
  display: flex;
  align-items: flex-start;
  gap: 10px; 
}

.share p {
  flex: 1;
  max-width: 400px;
  margin: 0;
}

.share img {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; 
}



