/* @tailwind base;
@tailwind components;
@tailwind utilities; */



/* Global styles */

:root {
  --primary-color: #0cbf55;
  --primary-color-low: #328956;
  --primary-color-dark:#1c775e;
  --secondary-color: #0b222f;
  --text-color: #333;
  --text-color-secondary: #f6f6f6;
  --text-color-white:#ffffff;
  --background-color: #f0f0f0;
  font-family: 'URWGeometricRegular';
  scroll-behavior: smooth;

}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f2f5;
  color: #333;
  line-height: 1.6;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1rem 0;
  font-weight: 600;
}

p {
  margin: 0 0 1rem 0;
}

ul {
  list-style: none;
  padding: 0;
}